body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #020617, #0f172a);
  color: #fff;
}

.container {
  width: 90%;
  max-width: 320px;
  margin: 70px auto;
  padding: 18px;
  background: #1e293b;
  border-radius: 16px;
  text-align: center;
}

h1 {
  font-size: 20px;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 13px;
  color: #cbd5f5;
  margin-bottom: 20px;
}

/* INPUTS */
input, select {
  width: 100%;
  padding: 9px 10px;
  margin-top: 8px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}

/* BUTTON */
button {
  width: 70%;
  padding: 9px;
  margin: 16px auto 0;
  display: block;
  border-radius: 20px;
  background: #22c55e;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* LINKS */
.link {
  margin-top: 14px;
  font-size: 13px;
}

.link span {
  color: #22c55e;
  cursor: pointer;
  font-weight: 500;
}

/* AUTH SLIDER */
.auth-wrapper {
  position: relative;
  overflow: hidden;
  height: 360px;
}

.auth-card {
  position: absolute;
  width: 100%;
  transition: transform 0.4s ease;
}

.login-card {
  transform: translateX(0);
}

.signup-card {
  transform: translateX(100%);
}

.auth-card.active {
  transform: translateX(0);
}

.auth-card.hidden-left {
  transform: translateX(-100%);
}

/* EXTRA */
.hidden {
  display: none;
}